# Data Science Tools and Ecosytem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|-|
|Apache Spark|
|Apache Hadoop|
|TensorFlow|

### Below are a few example of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multoply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author